<!DOCTYPE html>
<html>
<head>
    <title>Shows</title>
</head>
<body>

<h1>Shows</h1>

<div id="shows"></div>

<script>
    fetch('/api/puppetmaster/shows')
        .then(response => response.json())
        .then(shows => {
            console.log(shows);
            shows.forEach(show => {
                document.getElementById("shows").innerHTML += `
                    <a href="/puppetmaster/show/${show.id}"><h2>${show.location}</h2></a>
                    <p>${show.date}</p>
                `;
            });
        });
</script>
</body>
<footer><a href = "http://localhost:8080/puppetmaster">Home</a></footer>
</html>
