<!DOCTYPE html>
<html>
<head>
    <title>Songs</title>
</head>
<body>

<h1>Songs</h1>

<div id="songs"></div>

<script>
    fetch('/api/puppetmaster/songs')
        .then(response => response.json())
        .then(songs => {
            songs.forEach(song => {
                document.getElementById("songs").innerHTML += `
                    <h2>${song.originalSongName}</h2>
                    <p>${song.songName}</p>
                    <p>${song.lightType}</p>
                `;
            });
        });
</script>
<h1 id = "song"></h1>

</body>

<footer><a href = "http://localhost:8080/puppetmaster">Back Home</a></footer>
</html>
